*{
    box-sizing: border-box;
}
body{
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}
h1{
    font-size: 60px;
}
h2{
    display: inline-block;
    font-size: 45px;
}
h3{
    font-size: 30px;
}
p{
    font-size: 20px;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .section{
    padding: 130px 0px 130px 150px;
  }
  .section2{
    padding: 130px 0px 130px 50px;
  }
  .left-column{
    display: inline-block;
    width: 59%;
  }
  .right-column{
    display: inline-block;
    width: 40%;
  }
  .line{
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 10px;
    width: 300px;
    height: 1px;
    background-color: #ffffff;
  }
  .dark-line{
    background-color: #000000;
  }
  /* Header */
.nav{
    background-color: #0C0094;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none; 
    padding: 15px;
    margin: 0;
  }
.nav-link{
    padding: 50px;
    line-height: 50px;
    text-decoration: none;
    color: #ffffff;
    transition: 1s;
}
.nav-link:hover{
    text-decoration: underline;
}

/* main */
main{
    display: flex;
    flex-wrap: wrap;  
}
.main-header{
    position: relative;
}
.main-header::after, .main-header::before{
    content: "";
    display: block;
    position: absolute;
    width: 470px;

}
.main-header::before{
    border-bottom: 1px solid #000000; 
    bottom: 100px;
}
.main-header::after{
    border-top: 1px solid #000000; 
    top: 100px;
}


/* About me */
.about{
    background-color: #0C0094;
    color: #ffffff;
}
.adout li{
    margin-bottom: 10px;
}

/* skills */
.skill-block{
    display: inline-block;
    width: 49%;
    min-height: 150px;
    vertical-align: text-top;
}

.skills .line{
    width: 420px;
}

/* code */
.code{
    padding-top: 0px;
}
.code .line{
    margin-top: 0px;
    width: 230px;
}
.code p{
    margin-top: 0px;
    margin-bottom: 30px;
}

/* contacts */
.contacts{
    background-color: #F4F3FE;
}
.contacts p{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 20px;
}
.contact-link{
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 20px;
}

.photo{
    background-color: #0C0094;
    text-align: center;
}
.my-photo{
    display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

/* education */
.education{
    background-color: #F4F3FE;
}
.education-block{
    margin-bottom: 40px;
}
.education h3{
    margin:10px 0px;
}
.education a{
    text-decoration: none;
    color: #000000;
}